*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
}

.player-area {
    display: grid;
    grid-template-columns: 1fr 400px 1fr;
    grid-template-rows: 1fr 400px 1fr;
}

.computer-area {
    grid-template-areas:  "..... title.. ......."
                          "ships board.. letters"
                          "..... numbers .......";
}

.human-area {
    grid-template-areas:  "....... title.. ....."
                          "letters board.. ships"
                          "....... numbers .....";
}

.area-title {
    grid-area: title;
}

.letter-list {
    grid-area: letters
}

.board {
    grid-area: board;
    height: 400px;
    width: 400px;
}
